@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Lobster&family=Oswald:wght@200;300;400;500;600;700&display=swap');
*{margin: 0;
    padding: 0;
}
body{
    font-family: 'Work Sans', sans-serif;
}
.top{
    width: 1170px;
    margin: auto;
    overflow: hidden;
   
}
.phone {
    width: 300px;
    float: left;
    border-left: 1px solid rgba(194, 194, 194, 0.534);
    padding-bottom: 11px;
    padding-top: 15px;
}
.email{
    width: 670px;
    float: left;
    border-left: 1px solid rgba(194, 194, 194, 0.534);
    padding-bottom: 11px;
    padding-top: 15px;
}
.scociale{
    width: 195px;
    float:right;
   
}
#topbar{
    background-color: rgba(223, 223, 223, 0.534);
    width: 1280px;
}
#icon{
    margin-left: 10px;
    color: rgb(255, 0, 0);
}
#icon1{
    margin-left: 15px;
    margin-right: 15px;
    color: rgba(0, 0, 0, 0.788);
    transition: .4s;
}
.facebook{
    float: left;
    border-left: 1px solid rgba(194, 194, 194, 0.534);
    padding-bottom: 11px;
    padding-top: 15px;
    

}
.youtube{
    float: left;
    border-left: 1px solid rgba(194, 194, 194, 0.534);
    padding-bottom: 11px;
    padding-top: 15px;
}
.twiter{
    float: left;
    border-left: 1px solid rgba(194, 194, 194, 0.534);
    padding-bottom: 11px;
    padding-top: 15px;
}
.instragram{
    float: left;
    border-left: 1px solid rgba(194, 194, 194, 0.534);
    padding-bottom: 11px;
    padding-top: 15px;
    border-right: 1px solid rgba(194, 194, 194, 0.534);
}
#abid{
    color: rgb(241, 64, 0);
    font-size: 35px;
    font-weight: 700;
}
#abid1{
    color: rgb(0, 217, 255);
    font-size: 35px;
    font-weight: 700;
}
#abid2{
    color: green;
    font-size: 35px;
     font-weight: 700;
}
#abid3{
    color: hotpink;
    font-size: 35px;
     font-weight: 700;
}
.logo{
    float: left;
    width: 150px;
}
.menuli li{
    float: left;
}
.menu{
    width: 405px;
    float: right;
}
.menuli{
    list-style: none;
    font-family: oswald;
    display: block;
    font-size: 16px;
    text-transform: uppercase;
    padding:21px;
    float: left;
}
.menuli a{
    text-decoration: none;
    padding: 12px;
    transition: 0.4s;
    color: rgb(10, 10, 10);
}
.logo {
    padding: 10px;
}
.menuli li a:hover{
    color: rgb(255, 0, 0);
}
#icon1:hover{
    color: rgb(255, 0, 0);
}
section.image{
   
}
.ima{
    background-position: center;
    background-repeat:no-repeat;
    background: url(image/water-lily-1592793_1280.png);
}
.background{
    width: 1170px;
    margin: auto;
}
.background h2{
    width: 400px;
    color: cornsilk;
    text-transform: uppercase;
    padding-top: 90px;
    margin-left: 500px;
    padding-bottom: 30px;
    font-family: oswald;
}
.background p{
    width: 500px;
    color: cornsilk;
    margin-left: 500px;
    padding-bottom: 30px;
}
.background a button{
    border: none;
    padding: 10px 25px;
    margin-left: 500px;
    margin-bottom: 90px;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 20px;
    background-color: rgb(255, 28, 28);
    text-decoration: none;
    color: cornsilk;
    font-family: oswald;
    transition: 0.5s;
}
.background a{
    text-decoration: none;

}
.background a button:hover{
    background-color: cornsilk;
    color: black;
}
h1, h2, h3, h4, h5{
    font-family:oswald;
}
.section-repar{
    overflow: hidden;
    margin: auto;
    padding-left: 7px;
    width: 1280px;
}
.section-div{
    width: 280px;
    height: 390px;
    border: 1px solid #e9e9e9;
    background-color: white;
    transition: 0.4s;
    border-radius: 4px;
    float: left;
    margin: 60px 16px;
}
.section-logo {
    font-size: 40px;
    color: rgb(255, 28, 28);
    margin-left: 120px;
    padding-top: 25px;
    margin-bottom: 20px;
}
.section-logo i{
    transition: 0.4s;
}
.section-head{
   text-align: center;
    color: black;
    margin-bottom: 25px;
    transition: 0.4s;

}
.section-p {
    width: 250px;
    color: rgb(126, 126, 126);
    font-size: 14px;
    margin: auto;
    margin-bottom: 28px;
   transition: 0.4s;
   text-align:justify;
}
.section-div a{
    font-size: 18px;
  margin-left: 90px;
   margin-bottom: 30px;
   text-decoration: none;
   color: rgb(255, 28, 28);
   transition: 0.4s;
}
.section-div a i{
    font-size: 14px;
    margin-left: 4px;
    color: rgb(255, 28, 28);
    transition: 0.4s;
}
#section-top{
    width: max-content;
    margin: auto;
    background-color:rgba(223, 223, 223, 0.534);
}
.section-div:hover {
    background-color: tomato;
    color: white;
}
.section-div:hover h2{
    color: white;
}
.section-div:hover #sectionfont {
    color: white;
}
.section-div:hover .section-p{
    color: white;
}
.section-div:hover a{
    color: white;
}
.mid-section{
    padding: 50px 60px;
    overflow: hidden;
    width: 1170px;
    margin: auto;
}
.mid-section-image{
    width: 500px;
    height: 436px;
    float: left;
}
.mid-h1{
    padding-bottom: 10px;
    font-size: 40px;
    font-weight: 500;
}
.mid-div{
    padding: 0px 31px;
    width: 580px;
    float: left;
    height: 400px;
}
.mid-ul{
    float: left;
    margin-left: 18px;
    list-style: arabic-indic;
    font-size: 16px;
    font-weight: 600;
}
.mid-ul a{
    padding: 4px;
    text-decoration: none;
    color: rgb(66, 66, 66);
}
.mid-button{
    padding: 10px 30px;
    margin-right: 200px;
    font-size: 20px;
    background-color: rgb(255, 28, 28);
    text-decoration: none;
    color: cornsilk;
    font-family: oswald;
    transition: 0.5s;
    border: 1px solid rgb(170, 170, 170);

}
.mid-button:hover{
    color: rgb(0, 0, 0);
    background-color: white;
}
.ami{
    margin-left: 100px;
}
.mid-div h2{
    color: rgb(255, 62, 62);
}
.mid-ul a:hover{
    color:rgb(255, 62, 62);

}
#background-image{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 1280px;
    margin: auto;
}
.section-2{
    float: left;
    margin: auto;
    width: 250px;
    padding: 0px 20px;
}
.section-2div2{
    margin: auto;
    font-size: 22px;
    font-family: oswald;
    font-weight: 500;
    width: 250px;
    text-transform: uppercase;
}
.section-2div{
    margin: auto;
    font-size: 35px;
    font-family: oswald;
    font-weight: 700;
    width: 61px;
    padding-bottom: 14px;
}
#humanicon{font-size: 58px;margin-left: 114px;padding: 16px 0px;}
.sectionmidel {
        background: url(image/background-mosjid.jpg);
        overflow: hidden;
        background-repeat: no-repeat;
        background-position: center;
        width: 1280px;
        margin: auto;
}
.sectionmidel2{
color: white;   
width: 1170px;
overflow: hidden;   
margin: auto;   
padding: 60px;  
height: 190px;

}
.sectionmid3{
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.486);
}
